
#chessBoard {
  width: 800px;
  height: 800px;
  border: 20px solid #232323;
  display: flex;
}
#chessBoard * * {
  width: 100px;
  height: 100px;
}
#svg2 {
  display: none;
}
.invisible {
  display: none;
}
